<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles.css" />

  </head>
  <body>
    <div class="container mx-auto flex h-screen">
      <div class="w-1/2 flex justify-center items-center">
        <div class="text-9xl">X</div>
      </div>
      <div class="w-1/2">
        <div class="py-10 flex flex-col items-start">
          <h1 class="text-8xl font-semibold">Lo que está pasando ahora</h1>
          <h3 class="text-5xl font-semibold my-10">Únete Hoy</h3>
          <div class="flex flex-col">
            <a
              class="py-2 px-4 rounded-full border border-gray-100 hover:bg-blue-100 mb-6 w-1/2 text-center cursor-pointer"
              href="#"
              >Registrarse con Google</a
            >
            <a
              class="py-2 px-4 rounded-full border border-gray-100 hover:bg-blue-100 mb-6 w-1/2 text-center cursor-pointer"
              href="#"
              >Registrarse con Apple</a
            >
            <div class="border border-gray-100 w-1/2 mb-6"></div>
            <a
              class="py-2 px-4 bg-blue-500 font-semibold text-xl hover:bg-blue-600 rounded-full text-white w-1/2 text-center mb-6 cursor-pointer"
              href="/signup"
              >Crear cuenta</a
            >
            <p class="text-sm w-1/2 leading-none mb-6">
              Al registrarte, aceptas los
              <strong class="cursor-pointer text-blue-400">
                Términos de servicio
              </strong>
              y la
              <strong class="cursor-pointer text-blue-400">
                Política de privacidad </strong
              >, incluida la política de
              <strong class="cursor-pointer text-blue-400">
                Uso de Cookies.
              </strong>
            </p>
            <a
              class="py-2 px-4 border border-gray-300 font-semibold text-xl text-blue-600 hover:bg-blue-100 rounded-full text-white w-1/2 text-center mb-6 cursor-pointer"
              href="/signin"
              >Iniciar sesión</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
